
canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}

td{
  padding: 2px;
}

img{
  width: 130px;
}

canvas{
  position: absolute;
  top: 200px;
  right: 200px;
}

.main-display{
  height: 45rem;
}

.puzzleImage{
  width: 300px;
}

.cust-iframe{
  height: 100%;
  width: 100%;
  border-style: none;
  padding-left: 10px;
}

.cust-textarea{
  height: 5rem;
  width: 40rem;
}

.table-childhood-pics{
  color: blue;
  font-weight: bolder;
  font-size: 25px;
}

.table-associate-pics{
  color: green;
  font-weight: bolder;
  font-size: 25px;
}
